#head{
    background-image: url('../images/1.jpg');
    background-size: cover;
}
h1{
    color:white;
    text-align: center;
    font-size: 80px;
    
    
}
.one{
    color:black;
    text-align: center;
    padding-bottom: 17%;
    padding-top: 12%;
    font-weight: 900;
}
p{
    color:black;
    text-align: center; 
    font-size: 20px;
}
.on{
    padding-top: 10%;
}
.au{
    color: red;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: 700;
}
.btn{
    font-size: 40px;
    font-weight: 800;
    padding-right: 2%;
    padding-left: 2%;
    float: center;
}
  .btn:hover {
    background-color: black;
    color:white;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }