#head{
    background-image: url('../images/1.jpg');
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    
}
.one{
    color: white;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 20%;
    font-weight: 900;
}
p{
    color: white;
    text-align: center; 
    font-size: 20px;
}
.on{
    padding-top: 10%;
}