#head{
    background-image: url('../images/1.jpg');
    background-size: cover;
}
h1{
    color:white;
    text-align: center;
    font-size: 80px;
    
    
}
.one{
    color:black;
    text-align: center;
    padding-bottom: 17%;
    padding-top: 12%;
    font-weight: 900;
}
p{
    color:black;
    text-align: center; 
    font-size: 20px;
}
.on{
    padding-top: 10%;
}
.au{
    color: red;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: 700;
}
.btn{
    font-size: 40px;
    font-weight: 800;
    padding-right: 2%;
    padding-left: 2%;
    float: center;
}
  .btn:hover {
    background-color: black;
    color:white;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .card{
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    background-color:#adebad;
}
.img-fluid{
    max-width: 100%;
  height: auto;
    
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.card:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.hide {
    display: none;
}
.p{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: red;
    padding-top: 10%;
}
.button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button1:hover {background-color: #3e8e41}
  
  .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .mp{
      padding-top: 4%;
  }